#root {
    max-width: 100%;

    margin: 0;
    text-align: center;
}

* {
    margin: 0;
}

.App {
    min-height: 100vh;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
